/build/
/.cache/
/.coverage*
/.eggs/
/.idea/
/.mypy_cache/
/.pytest_cache/
/.tox/
/.venv/
/dist/
/doc/build/
/logs/
/*.egg-info/
__pycache__/
/monkeytype.sqlite3
*.pyc

# Emacs things
*~
\#*\#
.\#*
.org-id-locations
*_archive
*_flymake.*
.cask/
flycheck_*.el
.projectile
.dir-locals.el
*.sw?
