Source: spicerack
Section: utils
Priority: optional
Maintainer: Riccardo Coccioli <rcoccioli@wikimedia.org>
Standards-Version: 4.2.0
Build-Depends:
  cumin,
  debhelper (>= 10),
  dh-python (>= 2.20160609~),
  python3-all (>= 3.4),
  python3-conftool,
  python3-flake8,
  python3-mock (>= 2.0.0),
  python3-pytest,
  python3-pytest-cov,
  python3-pytest-runner,
  python3-redis,
  python3-requests,
  python3-requests-mock,
  python3-setuptools,
  python3-setuptools-scm,
  python3-yaml
Homepage: https://github.com/wikimedia/operations-software-spicerack
X-Python3-Version: >= 3.4

Package: spicerack
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}
Description: Automation and orchestration library for WMF, written in Python
 This Python3 library provides an easy API to interact with all the automation
 and orchestration tools to manage the infrastucture of the Wikimedia
 Foundation Inc.
 .
 It also provides an entry point script 'cookbook' to run cookbooks written to
 use this library.
